// BEM prefix. All top level component classes should be prefixed. i.e. $prefix__raised-button
$prefix: "camber";

// Browser Widths

// Colors
$color_dark_text: black !default;
$color_light_text: #fff !default;
$color_primary: red !default;
$color_secondary: red !default;

$color_text: red !default;
$color_text_lighter: red !default;

$color_grey: red !default;
$color_dark_grey: red !default;
$color_light_grey: red !default;

// Font Sizes
$font-size: 12px;

// Padding


// Border Radius

